:root {
  --primaryColor: orangeRed;
  --secondaryColor: rgba(176, 224, 230, 1);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 1rem = 10px */
  /* font-size: 62.5%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
